# Lesson 5 Lab 1:  Practical Pandas

In [ ]:
%matplotlib inline
import pandas as pd
import numpy as np
import os

data = pd.read_csv(os.path.join('..', 'data', 'ozone.csv'))

In [ ]:
data.head()

In [ ]:
pd.DataFrame??

Print the column names of the dataset to the screen, one column name per line.

In [ ]:
for col in data.columns:
    print col

Extract the first 2 rows of the data frame and print them to the console. What does the output
look like?

In [ ]:
data.iloc[:2, -2:]

In [ ]:
data.loc[:, ['Ozone', 'Wind']]

In [ ]:
data.head(2)

How many observations (i.e. rows) are in this data frame?

In [ ]:
len(data)

Extract the last 2 rows of the data frame and print them to the console. What does the output
look like?

In [ ]:
data.tail(2)

What is the value of Ozone in the 47th row?

In [ ]:
data.loc[46, 'Ozone']

How many missing values are in the Ozone column of this data frame?

In [ ]:
data.isnull().sum()

What is the mean of the Ozone column in this dataset? Exclude missing values (coded as NA)
from this calculation.

In [ ]:
data.Ozone.mean()

Extract the subset of rows of the data frame where Ozone values are above 31 and Temp values
are above 90. What is the mean of Solar.R in this subset?

In [ ]:
data.Temp > 90

In [ ]:
data.loc[(data.Temp > 90) & (data.Ozone > 31), ['Solar.R', 'Wind']]

In [ ]:
(data.Temp > 50) & (data.Ozone > 31)

What is the mean of "Temp" when "Month" is equal to 6?

In [ ]:
data.loc[data.Month == 6, 'Temp'].mean()

What was the maximum ozone value in the month of May (i.e. Month = 5)?

In [ ]:
data.loc[data.Month==5, 'Ozone'].max()

Take a look at `.value_counts()`. What is the frequency distribution for Temperature like?

In [ ]:
data.Temp.value_counts().sort_index(ascending=False)


What were the min and max Temp for each month?

In [ ]:
data.groupby('Month').Temp.size()

In [ ]:
data.groupby('Month').Temp.agg(['size', 'mean', np.min, np.max])

How do you calculate the summary statistics using `.describe()` for each month?

In [ ]:
data.groupby('Month').describe()


How could you use `seaborn.distplot()` with this dataset? Plot an example.

In [ ]:
import seaborn as sns
sns.distplot(data.Temp);


How could you use `seaborn.jointplot()` with this dataset? Plot an example.

In [ ]:
sns.jointplot(data.Ozone, data.Temp);

How could you use `seaborn.pairplot()` with this dataset? Show an example.

In [ ]:
sns.pairplot(data.dropna());

How could you use `seaborn.lmplot()` with this dataset? Show an example.

In [ ]:
sns.lmplot(x='Temp', y='Ozone', data=data);